[submodule "cyri-ui"]
	path = cyri-ui
	url = https://github.com/MastanShaik30/cyri-ui.git
[submodule "cyri-gs"]
	path = cyri-gs
	url = https://github.com/MastanShaik30/cyri-gs.git
[submodule "cyri-blms"]
	path = cyri-blms
	url = https://github.com/MastanShaik30/cyri-blms.git
[submodule "cyri-ps"]
	path = cyri-ps
	url = https://github.com/MastanShaik30/cyri-ps.git
